body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;

}

nav {
    font-size: 20px;
    color: blue;
}

h1 {
    border: 0; 
    align-items: left; 
    padding-left: 0;
    text-align: left;
}

#timer {
    border: 0;
    align-items: right;
    padding-right: 0;
    text-align: right;
}

h2 {
    text-align: center;
    color: blue;
    font-size: 100px;
}

p {
    text-align: center;
    font-weight: 200px;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
}

start {
    align-items: center;
}


.hide {
    display: none;

}

#question-box {
    align-items: center;
    text-align: center;
    font-size: 25px;
    color: blue;
}
